{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsa nesciunt delectus laudantium fugit quaerat beatae officiis natus molestias tempore doloremque, voluptatum ducimus tenetur odio obcaecati quos nisi, cumque aut.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum labore expedita debitis commodi alias! Minima magni repudiandae facilis sit quibusdam obcaecati qui quas labore eum, nesciunt hic error, a pariatur?</p>

{% endblock %}